.container-menu {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

img {
    margin-left: 50px;
    width: 150px;
    height: 40px;
}


.L {
    width: 30%;
    display: flex;
    background-color: #ff0000;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    position: fixed;
}

.container-form {
    width: 80%;
    height: 50%;
    background-color: rgb(233, 233, 233);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-noticias {
    width: 80%;
    height: 25%;
    background-color: rgb(233, 233, 233);
    border-radius: 8px;
}

.R {
    width: 80%;
    /* background-color: rgb(196, 127, 37);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin-top: 115px;
}

.card {
    width: 95%;
    height: 40vh;
    background-color: rgb(247 247 248);
    /*  background-color: blueviolet;*/
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-detalles {
    width: 50%;
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    /*  background-color: #646F58;*/
    /* align-items: center;*/
    flex-direction: column;


}



.container-calorias {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-calorias p {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.container-img {
    width: 30%;
    overflow: hidden;
    /* Oculta cualquier contenido que se desborde */
    display: flex;
    /* Usa flexbox para alinear la imagen si es necesario */
    align-items: center;
    /* Centra la imagen verticalmente si el contenedor tiene altura */
    justify-content: center;
    /* Centra la imagen horizontalmente si el contenedor tiene ancho */
}

.container-img img {
    width: 90%;
    height: 90%;
    border-radius: 8px;
    margin-right: 40px;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #646F58;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #7D8570;
}

span {
    white-space: pre-line;
    text-align: left;
}

.container-noticias {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cotainer-favorite {
    margin-top: 60px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    /* Asegúrate de ajustar estas propiedades */
}

button {
    background-color: white;
    margin: none;
    border: none;
}

.icon {
    fill: #000000;
    transition: fill 0.3s ease;
}

.icon:hover {
    fill: #ff0000;
    stroke: none;
    cursor: pointer;
}

.calification {
    display: flex;
}

.icon-next :hover {
    fill: #504B3A;
    cursor: pointer;
}


.span-alimentos{
    gap: 10px;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow-y: auto; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; 

}

.span-alimentos::-webkit-scrollbar {
    display: none;
}
